In [6]:
import pandas as pd
from sqlalchemy import create_engine, select, MetaData, Table
pd.set_option('display.max_columns', None)
import pyodbc

In [7]:
# Define the SQL Server connection parameters
server = 'airborneanalytics.cpdhuvhrm3nv.us-east-1.rds.amazonaws.com'
database = 'airborneanalytics'  
username = 'Team25'
password = 'AirborneAnalytics25'
dsn_name = 'cecilia_dsn'

conn = pyodbc.connect(f'DSN={dsn_name};Server={server};UID={username};PWD={password};') 
print('Connected Successfully')

cursor = conn.cursor()

Connected Successfully

In [8]:
query = "select * from on_time_flight_data where YEAR=2018 and reporting_airline='UA'"
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
data_values = [[getattr(row, name) for name in column_names] for row in rows]
ua_2018 = pd.DataFrame(data_values, columns=column_names)
ua_2018.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,Origin,Dest,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,CancellationCode,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings
0,2018,4,12,17,1,2018-12-17,UA,N487UA,2140,LGA,DEN,1020,1017,-3.00,0.00,0.00,-1,1000-1059,38.00,1055,1238,8.00,1255,1246,-9.00,0.00,0.00,-1,1200-1259,0.00,0,0.00,275.00,269.00,223.00,1.00,1620.00,7,0,0,0,0,0,0
1,2018,4,12,17,1,2018-12-17,UA,N402UA,2139,EWR,ORD,0515,0508,-7.00,0.00,0.00,-1,0001-0559,17.00,0525,0614,5.00,0639,0619,-20.00,0.00,0.00,-2,0600-0659,0.00,0,0.00,144.00,131.00,109.00,1.00,719.00,3,0,0,0,0,0,0
2,2018,4,12,17,1,2018-12-17,UA,N19117,2138,EWR,LAS,1030,1019,-11.00,0.00,0.00,-1,1000-1059,14.00,1033,1222,7.00,1304,1229,-35.00,0.00,0.00,-2,1300-1359,0.00,0,0.00,334.00,310.00,289.00,1.00,2227.00,9,0,0,0,0,0,0
3,2018,4,12,17,1,2018-12-17,UA,N415UA,2137,SAN,ORD,0830,0824,-6.00,0.00,0.00,-1,0800-0859,15.00,0839,1411,14.00,1431,1425,-6.00,0.00,0.00,-1,1400-1459,0.00,0,0.00,241.00,241.00,212.00,1.00,1723.00,7,0,0,0,0,0,0
4,2018,4,12,17,1,2018-12-17,UA,N61881,2136,BOS,IAD,1939,1938,-1.00,0.00,0.00,-1,1900-1959,12.00,1950,2058,4.00,2114,2102,-12.00,0.00,0.00,-1,2100-2159,0.00,0,0.00,95.00,84.00,68.00,1.00,413.00,2,0,0,0,0,0,0

In [9]:
ua_2018.to_csv('ua_2018.csv', index=False, header=True)

In [11]:
query = "select * from AirportData"
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
data_values = [[getattr(row, name) for name in column_names] for row in rows]
airport_coor = pd.DataFrame(data_values, columns=column_names)
airport_coor.head()

,country_code,region_name,iata,icao,airport_name,latitude,longitude
0,AE,Ash Shariqah,SHJ,OMSJ,Sharjah International Airport,25.328600,55.517200
1,AE,Abu Zaby,AZI,OMAD,Al Bateen Executive Airport,24.428300,54.458100
2,AE,Al Fujayrah,FJR,OMFJ,Fujairah International Airport,25.112200,56.324000
3,AE,Abu Zaby,XSB,OMBY,Sir Bani Yas Airport,24.283600,52.580300
4,AE,Ra's al Khaymah,RKT,OMRK,Ras Al Khaimah International Airport,25.613500,55.938800

In [12]:
airport_coor.to_csv('airport_coor.csv', index=False, header=True)

In [3]:
query = "select * from on_time_flight_data where YEAR=2019 and reporting_airline='UA'"
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
data_values = [[getattr(row, name) for name in column_names] for row in rows]
ua_2019 = pd.DataFrame(data_values, columns=column_names)
ua_2019.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,Origin,Dest,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,CancellationCode,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings
0,2019,1,1,22,2,2019-01-22,UA,N19141,1981,LAX,IAH,1140,1134,-6.00,0.00,0.00,-1,1100-1159,15.00,1149,1633,7.00,1700,1640,-20.00,0.00,0.00,-2,1700-1759,0.00,0,0.00,200.00,186.00,164.00,1.00,1379.00,6,0,0,0,0,0,0
1,2019,1,1,22,2,2019-01-22,UA,N68802,1980,IAH,MCO,1204,1159,-5.00,0.00,0.00,-1,1200-1259,22.00,1221,1511,3.00,1520,1514,-6.00,0.00,0.00,-1,1500-1559,0.00,0,0.00,136.00,135.00,110.00,1.00,854.00,4,0,0,0,0,0,0
2,2019,1,1,22,2,2019-01-22,UA,N34455,1980,MCO,EWR,1606,1604,-2.00,0.00,0.00,-1,1600-1659,15.00,1619,1900,8.00,1849,1908,19.00,19.00,1.00,1,1800-1859,0.00,0,0.00,163.00,184.00,161.00,1.00,937.00,4,0.00,0.00,19.00,0.00,0.00,0
3,2019,1,1,22,2,2019-01-22,UA,N480UA,1979,IAD,PIT,2230,2221,-9.00,0.00,0.00,-1,2200-2259,12.00,2233,2311,7.00,2329,2318,-11.00,0.00,0.00,-1,2300-2359,0.00,0,0.00,59.00,57.00,38.00,1.00,182.00,1,0,0,0,0,0,0
4,2019,1,1,22,2,2019-01-22,UA,N19117,1978,EWR,SFO,1300,1304,4.00,4.00,0.00,0,1300-1359,12.00,1316,1603,5.00,1634,1608,-26.00,0.00,0.00,-2,1600-1659,0.00,0,0.00,394.00,364.00,347.00,1.00,2565.00,11,0,0,0,0,0,0

In [4]:
ua_2019.to_csv('ua_2019.csv', index=False, header=True)

In [10]:
conn.close()